@import "variables";

@media (min-width: 992px) {
*, 
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-width: 992px;
    min-height: 100vh;
    background-color: #dfe6ee;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    margin: 164px 165px 164px 165px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    // grid-auto-rows: auto;
    grid-template-rows: 2, 1fr;
    place-items: center;
    column-gap: 30px;
    row-gap: 24px;
}


article {
    // margin-bottom: 24px;
    border-radius: 10px;
    
    &.daniel {
        width: 540px;
        max-height: 100%;
        // height: 282px;
        padding: 24px 30px 33px 30px;

        grid-column: 1/3;

        text-align: left;
        background-color: $Moderate-violet ;
        background-image: url(../assets/images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: right 10%  top 0 ;


        .header {
            display: flex;
            
            img {
                display: block;
                max-width: 31px;
                max-height: 30px;
                border: solid 1px #a176de;
                border-radius: 16px;
                margin-right: 15px;
            }

            & div {
            
                h4 {
                    color: $White;
                    font-weight: 500;
                }

                h5 {
                    color: $Light-gray;
                    padding-bottom: 21px;
                }
            }
        }

        h1 {
            font-size: 1.25rem;
            color: $White;
            line-height: 1.2;
            padding-bottom: 25px;
        }

        p {
            font-size: 0.85rem;
            color: $Light-gray;
            line-height: 1.4;
        }
    }

    &.jonathan {
        width: 255px;
        height: 100%;
        // height: 282px;
        padding: 24px 30px 33px 30px;

        text-align: left;
        background-color: $Verydark-grayish-blue ;
       
        .header {
            display: flex;

            img {
                display: block;
                max-width: 31px;
                max-height: 30px;
                border: solid 1px white;
                border-radius: 16px;
                margin-right: 15px;
            }

            & div {

                h4 {
                    color: $White;
                    font-weight: 500;
                }

                h5 {
                    color: $Light-gray;
                    padding-bottom: 21px;
                }
            }
        }

        h1 {
            font-size: 1.25rem;
            color: $White;
            line-height: 1.2;
            padding-bottom: 25px;
        }

        p {
            font-size: 0.85rem;
            color: $Light-gray;
            line-height: 1.4;
        }
    }

    &.jeanette {
        width: 255px;
        height: 100%;
        // height: 266px;
        padding: 24px 30px 33px 30px;

        text-align: left;
        background-color:  $White;

        .header {
            display: flex;

            img {
                display: block;
                max-width: 31px;
                max-height: 30px;
                border: solid 1px white;
                border-radius: 16px;
                margin-right: 15px;
            }

            & div {

                h4 {
                    color: $Verydark-grayish-blue ;
                    font-weight: 500;
                }

                h5 {
                    color: $Light-gray;
                    padding-bottom: 21px;
                }
            }
        }

        h1 {
            font-size: 1.25rem;
            color: $Verydark-blackishblue;
            line-height: 1.2;
            padding-bottom: 25px;
        }

        p {
            font-size: 0.85rem;
            color: $Verydark-grayish-blue;
            line-height: 1.4;
        } 
    }

    &.patrick {
        width: 540px;
        height: 100%;
        // height: 266px;
        padding: 24px 30px 33px 30px;
        
        grid-column: 2/4;

        text-align: left;
        background-color:  $Verydark-blackishblue;

        .header {
            display: flex;

            img {
                display: block;
                max-width: 31px;
                max-height: 30px;
                border: solid 1px $Moderate-violet;
                border-radius: 16px;
                margin-right: 15px;
            }

            & div {

                h4 {
                    color: $White;
                    font-weight: 500;
                }

                h5 {
                    color: $Light-gray;
                    padding-bottom: 21px;
                }
            }
        }

        h1 {
            font-size: 1.25rem;
            color: $White;
            line-height: 1.2;
            padding-bottom: 25px;
        }

        p {
            font-size: 0.85rem;
            color: $Light-gray;
            line-height: 1.4;
        }
    }

    &.kira {
        width: 255px;
        height: 100%;
        // height: 572px;
        padding: 24px 30px 33px 30px;
        
        grid-column: 4;
        grid-row: 1/3;

        text-align: left;
        background-color:  $White;

        .header {
            display: flex;
        
            img {
                display: block;
                max-width: 31px;
                max-height: 30px;
                border: solid 1px white;
                border-radius: 16px;
                margin-right: 15px;
            }

            & div {

                h4 {
                    color: $Verydark-blackishblue;
                    font-weight: 500;
                }

                h5 {
                    color: $Light-gray;
                    padding-bottom: 21px;
                }
            }
        }

        h1 {
            font-size: 1.25rem;
            color: $Verydark-blackishblue;
            line-height: 1.2;
            padding-bottom: 25px;
        }

        p {
            font-size: 0.85rem;
            color: $Verydark-grayish-blue;
            line-height: 1.4;
        }
    }
}
}